<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>商品一覧￥￥￥￥￥￥￥￥￥</title>
        <link href="{{constant('root\\Bootstrap::APP_URL')}}css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="wrapper">
        {# カテゴリが押された時の挙動を説明 #}
        {# includeはphpのrequire_onceのようなもの #}
            <div class="header">
                <h3>SHOPPING<span>ー商品リストー</span></h3>
            </div>
            <div class="side">
                <p>MENU</p>
                {# {% include 'Category_menu.html.twig' %} #}
            </div>
         
        </div>
    </body>
</html>