<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link href="{{constant('root\\Bootstrap::APP_URL')}}css/styles.css" rel="stylesheet" type="text/css" />
{# <link href="{{constant('root\\Bootstrap::APP_URL')}}css/responsive.css" rel="stylesheet" type="text/css" /> #}

    <title>ログインページ</title>
</head>
<body>
    <h1>ログインページ</h1>

    {% if err_msg %}
        {% for message in err_msg %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" action="Login.php">
        <label for="email">メールアドレス:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>
        <!-- 以下の行はCSRFトークンを追加する例です -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <input type="submit" name="login" value="ログイン">

    </form>
</body>
</html>
