<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Operation Result</title>
</head>
<body>
 <ul>

    <li><a href="{{constant ('root\\Bootstrap::ENTRY_URL')}}User/Mypage/csv.php"> csvファイル出力 </a></li>
    <li><a href="{{constant ('root\\Bootstrap::ENTRY_URL')}}User/Mypage/Delete.php"> 削除 </a></li>
    <li><a href="{{constant ('root\\Bootstrap::ENTRY_URL')}}User/Mypage/Purchased.history.php"> 購入履歴 </a></li>
    <li><a href="{{constant ('root\\Bootstrap::ENTRY_URL')}}User/Mypage/Show.history.php"> 出品履歴 </a></li>

</ul>

</body>
</html>
