<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Operation Result</title>
</head>
<body>
 <ul>
    <li><a href="{{root/User/Mypage}}csv.php">csvを出力</a></li>


    <li><a href="{{ root/User/Mypage }}Purchased.history.php">Purchased.history.php</a></li>
    <li><a href="{{ root/User/Mypage }}Delete.php">Delete.php</a></li>
    <li><a href="{{ root/User/Mypage }}Show.history.php">Show.history.php</a></li>
</ul>

</body>
</html>

