<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>購入履歴</title>
</head>
<body>
    <h1>購入履歴</h1>

    {% for purchase in purchases %}
        <p>
            <strong>購入日:</strong> {{ purchase.purchase_date|e('html') }}<br>
            <strong>商品名:</strong> {{ purchase.item_name|e('html') }}<br>
            <strong>価格:</strong> {{ purchase.price|e('html') }}<br>
        </p>
        <hr>
    {% else %}
        <p>購入履歴はありません。</p>
    {% endfor %}
</body>
</html>
